.container {
    display: flex;
    padding: 0px;
}

.page {
    float:left;
    width:66%;
    overflow:hidden;
}  

.info{
    float:left;
    width:34%;
    overflow:hidden;
}

.coveredImage{ 
    position:absolute;
    top:0px; left:0px;
}

.coveringCanvas{ 
    position:absolute;
    top:0px; left:0px;
    z-index:0;
}