@import
url('https://fonts.googleapis.com/css?family=Calibri&display=swap');

.container {
    /* display: flex; */
    float: left;
    padding: 0px; 
    height: 900px;
}

.container.tall {
  max-width: 1000px;
}

.container.middle {
  max-width:1400px;
}

.page {
    float:left;
    width:600px;
    overflow:hidden;
    /* top:0px;  */
}  

.pageMiddle{
  float:left;
  width:1200px;
  overflow:hidden;
  /* top:0px;  */
}  

.info{
    float:right;
    width:200px;
    overflow:hidden;
    /* top:10px;
    height:25px; */
}

.infoMiddle{
  float:right;
  width:200px;
  overflow:hidden;
  /* top:0px; left:0px; */
}

.coveredImage{
  position:absolute;
  top:0px; left:0px;
}

.coveringCanvas{ 
    position:absolute;
    top:0px; left:0px;
    z-index:0;
}

.coveredImage.tall {
  height: 800px; width: 600px;
}

.coveringCanvas.tall {
  height: 800px; width: 600px;
}

.coveredImage.wide {
  height: 800px; width: 1200px;
}

.coveringCanvas.wide{
  height: 800px; width: 1200px;
}

a {
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    position: relative;
  }
  
  .next {
    background-color: #5536c4;
    color: white;
  }
  
  .round {
    border-radius: 50%;
    padding: 8px 16px;
  }

  #footer {
    background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    /* top:900px; */
    width:100%;
  }

  .modal-dialog {
    width:100%;
    margin:0;
    /* opacity:0.5; */
    /*add what you want here*/
}

.modal {
  background: transparent;
  position: fixed;
  top: 20px !important;
  width: 600px;
  left: 605px;
  height: 750px;
}

.modal-content{
  /* background: transparent !important; */
  background: rgba(226, 223, 223, 0.90);
  border: 0px !important;
  /* height:750px; */
}

.modal-header {
  /* background: rgba(255, 0, 0, 0.25); */
  border: 0px !important;
  height: 50px
}

.modal-backdrop.show {
  opacity: 0.25;
}

/* .modal-backdrop.in
{
    opacity:0.1 !important;
} */

/* centering styles for jsbin */
/* html,
body {
  width:100%;
  height:100%;
}
html {
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
}
body > .btn {
  display: block;
  margin: 0 auto;
} */