@import
url('https://fonts.googleapis.com/css?family=Calibri&display=swap');

.container {
    float: left;
    padding: 0px;
    height: 900px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-x: auto;
    -ms-overflow-y: hidden;
    overflow:hidden;
}

.container.tall {
  max-width: 1000px;
}

.container.middle {
  max-width:1400px;
}

.page {
    float:left;
    width:600px;
    overflow:auto;
}  

.pageMiddle{
  float:left;
  width:1200px;
}  

.info{
  position: absolute;
  left: 650px;
}

.infoMiddle{
  position: absolute;
  left: 1250px;
  overflow:hidden;
}

.coveredImage{
  position:absolute;
  top:0px; left:0px;
}

.coveringCanvas{ 
    position:absolute;
    top:0px; left:0px;
    z-index:0;
}

.coveredImage.tall {
  height: 800px; width: 600px;
}

.coveringCanvas.tall {
  height: 800px; width: 600px;
}

.coveredImage.wide {
  height: 800px; width: 1200px;
}

.coveringCanvas.wide{
  height: 800px; width: 1200px;
}

a {
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    position: relative;
  }
  
  .next {
    background-color: #5536c4;
    color: white;
    position: relative;
  }
  
  .round {
    border-radius: 50%;
    padding: 8px 16px;
  }

  #footer {
    background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
  }

  .modal-dialog {
    width:100%;
    margin:0;
}

.modal {
  background: transparent;
  position: absolute;
  top: 0px !important;
  width: 600px;
  left: 605px;
  height: 750px;
}

.modal-open {
  overflow-y: auto;
  overflow-x: auto;
}

.modal-content{
  background: rgba(226, 223, 223, 0.75);
  border: 0px !important;
  word-wrap: break-all;
}

.modal-header {
  border: 0px !important;
  height: 50px
}

.modal-backdrop.show {
  opacity: 0.25;
}